body{
    font-family: 'open Sans',sans-serif;
    background-color: black;
}

#container{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: #fff000;
    background-image: linear-gradient(315deg, #fff000 0%, #ed008c 74%);
}
.logo{
    width: 50px;
    height: 50px;
    position: absolute;
    margin: 40px;
}
img{
    width: 50px;
    height: 50px;
}
.calc{
    font-size: 27px;
    bottom: -63%;
    left: 50px;
    position: absolute;
    font: "Simplified Arabic";
    color: white;
}

#calculator{
    width: 320px;
    height: 520px;
    background-color: #E9E9E9;
    margin: 0 auto;
    top: 10%;
    position: sticky;
    border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#result{
    height: 120px;
}

#keyboard{
    height: 400px;
}

#history{
    text-align: right;
    height:20px;
    margin: 0 20px;
    padding-top:20px ;
    font-size: 15px;
    color: crimson;
}

#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}

.operator, .number, .empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    /*    font-weight: bold;
 */

    font-size: 15px;
}
.operator, .empty{
    background-color: #E9E9E9;
}
.operator, .number{
    cursor: pointer;
}

.operator:active, .number:active{
    font-size: 18px;
}
.operator:active{
    font-size: 25px;
}

.operator:focus, .number:focus, .empty:focus{
    outline: 0;
}

button:nth-child(4){
	font-size: 22px;
	background-color: #40a8c4;
}
button:nth-child(8){
	font-size: 22px;
	background-color: #ff7171;
}
button:nth-child(12){
	font-size: 22px;
	background-color: #a37eba;
}
button:nth-child(16){
	font-size: 22px;
	background-color: #91d18b;
}
button:nth-child(20){
	font-size: 22px;
	background-color: #fddb3a;
}

#created{
    font-size: 12px;
    color: white;
    left: 50%;
    bottom: 2.5%;
    position: absolute;
    transform: translate(-50%, -50%);
}

#creator-name{
    font-size: 12px;
    color: #28324B;
    left: 50%;
    bottom: -1%;
    position: absolute;
    transform: translate(-50%, -50%);
    letter-spacing: 8px;
}